@font-face {
  font-family: "EuclidFlex Bold";
  src: url("../fonts/EuclidFlex-Bold.eot") format("otf"),
    url("../fonts/EuclidFlex-Bold.ttf") format("ttf"),
    url("../fonts/EuclidFlex-Bold.woff") format("woff"),
    url("../fonts/EuclidFlex-Bold.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "EuclidFlex Medium";
  src: url("../fonts/EuclidFlex-Medium.eot") format("otf"),
    url("../fonts/EuclidFlex-Medium.ttf") format("ttf"),
    url("../fonts/EuclidFlex-Medium.woff") format("woff"),
    url("../fonts/EuclidFlex-Medium.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "EuclidFlex Regular";
  src: url("../fonts/EuclidFlex-Regular.otf") format("otf"),
    url("../fonts/EuclidFlex-Regular.ttf") format("ttf"),
    url("../fonts/EuclidFlex-Regular.woff") format("woff"),
    url("../fonts/EuclidFlex-Regular.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

*,
:after,
::before {
  border: 0;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: white;
  box-sizing: border-box;
}

:root {
  color: white;
  font-family: Inter;
  font-weight: 400;
  line-height: 60px;
  word-wrap: break-word;
  --w: white;
  --navy: #000022;
  --indigo: #5d13f9;
  --darkShape: #000022;
  --firstBlueShape: #0777fd;
  --secondBlueShape: #02feff;
  --whiteShape: #ffffff;
  --euclidflex-medium: "EuclidFlex Medium", sans-serif;
  --euclidflex-bold: "EuclidFlex Bold", sans-serif;
  --euclidflex-regular: "EuclidFlex Regular", sans-serif;
}

/* Общие стили */
body {
  background: linear-gradient(156.2deg, #000022 18.39%, #5d13f9 84.11%);
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.navbar {
  padding: 10px; /* Внутренний отступ для элементов внутри навигационной панели */
}
/* Стили для логотипа (navbar-brand) */
.navbar-brand {
  text-decoration: none; /* Убираем подчеркивание ссылки (если оно было) */
}
.brand-container {
  display: flex; /* Разрешаем элементам внутри .brand-container использовать flexbox */
  align-items: center; /* Выравнивание элементов по центру по вертикали */
}
/* Стили для логотипа (brand-name) */
.brand-name {
  color: white; /* Цвет текста логотипа */
  font: normal 2.5rem/2.125rem var(--euclidflex-medium);
  margin: 0;
}
.icon {
  margin: 0; /* Убираем внешние отступы у иконки */
  vertical-align: middle; /* Выравнивание по вертикали посередине */
}

/* Стили для контейнера about-container */
.about-container {
  background-color: transparent; /* Прозрачный фон */
  padding: 20px; /* Внутренний отступ для контейнера */
  text-align: center; /* Выравнивание по центру */
  margin-left: 10%;
  margin-right: 10%;
}

/* Стили для заголовка page-title */
.page-title {
  background-image: linear-gradient(
    250deg,
    #02feff 10%,
    #fff 60%
  ); /* Градиентный фон для текста */
  -webkit-background-clip: text; /* Устанавливаем обрезание фона для текста */
  color: transparent; /* Делаем текст заголовка прозрачным */
  font: normal 3.5rem/3.125rem var(--euclidflex-medium);
}

/* Стили для текста */
.about-information {
  font: normal 2.5rem/2.525rem var(--euclidflex-medium);
  background-image: linear-gradient(
    250deg,
    #02feff 10%,
    #fff 60%
  ); /* Градиентный фон для текста */
  -webkit-background-clip: text; /* Устанавливаем обрезание фона для текста */
  color: transparent; /* Делаем текст прозрачным */
  margin-top: 10px; /* Отступ сверху, чтобы текст был ниже заголовка */
}

/* Стили для контейнера .input-group */
.input-group {
  color: #02feff; /* Цвет текста */
  display: flex; /* Разрешаем элементам внутри .input-group использовать flexbox */
  align-items: center; /* Выравнивание элементов по центру по вертикали */
  flex: 1;
  padding: 10px;
  border-radius: 0; /* Убираем скругление углов инпута */
  border-right: 0; /* Убираем правую границу инпута */
  margin-left: 250px; /* Выравнивание по правому краю */
}

/* Стили для инпута */
.input-group input {
  flex: 1;
  height: 60px;
  border-radius: 0;
  border-right: 0;
  background-color: transparent;
  color: white;
  font-size: 20px;
  border: 1px solid #02feff;
  transition: background-color 0.3s ease;
}

.input-group input:focus {
  background-color: transparent; /* Цвет фона при фокусе (можно указать нужный цвет) */
  color: white;
}
/* Стили для плейсхолдера */
.input-group input::placeholder {
  color: rgb(149, 199, 255); /* Цвет текста плейсхолдера */
}
/* Стили для контейнера с карточками багажа */
.container .row {
  border: 2px solid #5d13f9; /* Устанавливаем фиолетовую рамку */
  padding: 20px; /* Добавляем отступ внутрь рамки */
  border-radius: 10px; /* Добавляем скругление углов рамки */
}

.cards-title {
  font: normal 2rem/2.125rem var(--euclidflex-regular);
  color: #fff;
  margin-bottom: 0;
}
/* Стили для карточек багажей */
.cards {
  background: none;
  color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  width: 300px; /* Устанавливаем фиксированную ширину карточки */
  height: 350px; /* Устанавливаем фиксированную высоту карточки */
  margin-bottom: 20px; /* Установите отступ снизу */
  display: flex;
  text-align: center;
}

/* Стили для изображений на карточках */
.cards-img-top {
  max-width: 100%; /* Максимальная ширина изображения */
  max-height: 100%; /* Максимальная высота изображения */
  height: auto; /* Автоматическая высота, чтобы изображение не искажалось */
}

.btn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #91c9ff;
  outline: none;
  transition: 0.5s ease-in-out;
  display: flex; /* Устанавливаем кнопку как flex-контейнер */
  align-items: center; /* Центрируем элементы по вертикали */
  justify-content: center; /* Центрируем элементы по горизонтали */
  text-align: center; /* Выравнивание текста по центру */
  color: white; /* Белый цвет текста */
  font-family: "EuclidFlex Bold", sans-serif; /* Установка шрифта */
  font-size: 18px; /* Размер шрифта */
}

.btn:hover {
  transition: 0.5s ease-in-out;
  background: #4f95da;
}

.card {
  background: none;
  color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  width: 350px; /* Устанавливаем фиксированную ширину карточки */
  height: 750px; /* Устанавливаем фиксированную высоту карточки */
  margin-bottom: 20px; /* Установите отступ снизу */
  display: flex;
  flex-direction: column; /* Выравнивание элементов внутри карточки по вертикали */
  align-items: center; /* Выравнивание по центру по вертикали */
  text-align: center;
}

.card-img-top {
  max-width: 100%; /* Максимальная ширина изображения */
  max-height: 70%; /* Максимальная высота изображения (60% от высоты карточки) */
  height: auto; /* Автоматическая высота, чтобы изображение не искажалось */
}

.card-title {
  font: normal 2.5rem/2.125rem var(--euclidflex-regular); /* Увеличиваем размер шрифта и устанавливаем линейную высоту */
  color: #fff;
  margin-bottom: 20px; /* Увеличиваем отступ снизу */
}
.card-text {
  font: normal 1.2rem/1.5rem var(--euclidflex-medium);
}
