@font-face {
  font-family: "EuclidFlex Bold";
  src: url("../fonts/EuclidFlex-Bold.eot") format("otf"),
    url("../fonts/EuclidFlex-Bold.ttf") format("ttf"),
    url("../fonts/EuclidFlex-Bold.woff") format("woff"),
    url("../fonts/EuclidFlex-Bold.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "EuclidFlex Medium";
  src: url("../fonts/EuclidFlex-Medium.eot") format("otf"),
    url("../fonts/EuclidFlex-Medium.ttf") format("ttf"),
    url("../fonts/EuclidFlex-Medium.woff") format("woff"),
    url("../fonts/EuclidFlex-Medium.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "EuclidFlex Regular";
  src: url("../fonts/EuclidFlex-Regular.otf") format("otf"),
    url("../fonts/EuclidFlex-Regular.ttf") format("ttf"),
    url("../fonts/EuclidFlex-Regular.woff") format("woff"),
    url("../fonts/EuclidFlex-Regular.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

*,
:after,
::before {
  border: 0;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: white;
  box-sizing: border-box;
}

:root {
  color: white;
  font-family: Inter;
  font-weight: 400;
  line-height: 60px;
  word-wrap: break-word;
  --euclidflex-medium: "EuclidFlex Medium", sans-serif;
  --euclidflex-bold: "EuclidFlex Bold", sans-serif;
  --euclidflex-regular: "EuclidFlex Regular", sans-serif;
}

/* Общие стили */
body {
  background: linear-gradient(156.2deg, #000022 18.39%, #5d13f9 84.11%);
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.navbar {
  padding: 10px;
}
/* Стили для логотипа (navbar-brand) */
.navbar-brand {
  text-decoration: none;
}
.brand-container {
  display: flex;
  align-items: center;
}
/* Стили для логотипа (brand-name) */
.brand-name {
  color: white;
  font: normal 2.5rem/2.125rem var(--euclidflex-medium);
  margin: 0;
}
.icon {
  margin: 0;
  vertical-align: middle;
}

/* Стили для контейнера about-container */
.about-container {
  background-color: transparent;
  padding: 20px;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}

/* Стили для заголовка page-title */
.page-title {
  background-image: linear-gradient(
    250deg,
    #02feff 10%,
    #fff 60%
  ); /* Градиентный фон для текста */
  -webkit-background-clip: text;
  color: transparent;
  font: normal 3.5rem/3.125rem var(--euclidflex-medium);
}

/* Стили для текста */
.about-information {
  font: normal 2.5rem/2.525rem var(--euclidflex-medium);
  background-image: linear-gradient(
    250deg,
    #02feff 10%,
    #fff 60%
  ); /* Градиентный фон для текста */
  -webkit-background-clip: text;
  color: transparent;
  margin-top: 10px;
}

/* Стили для контейнера .input-group */
.input-group {
  color: #02feff;
  display: flex;
  align-items: center;
  flex: 1;
  padding: 10px;
  border-radius: 0;
  border-right: 0;
  margin-left: 250px;
}

/* Стили для инпута */
.input-group input {
  flex: 1;
  height: 60px;
  border-radius: 0;
  border-right: 0;
  background-color: transparent;
  color: white;
  font-size: 20px;
  border: 1px solid #02feff;
  transition: background-color 0.3s ease;
}

.input-group input:focus {
  background-color: transparent;
  color: white;
}
/* Стили для плейсхолдера */
.input-group input::placeholder {
  color: rgb(149, 199, 255);
}
/* Стили для контейнера с карточками багажа */
.container .row {
  border: 2px solid #5d13f9;
  padding: 20px;
  border-radius: 10px;
}

.cards-title {
  font: normal 2rem/2.125rem var(--euclidflex-regular);
  color: #fff;
  margin-bottom: 0;
}
/* Стили для карточек багажей */
.cards {
  background: none;
  color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  width: 300px;
  height: 350px;
  margin-bottom: 20px;
  display: flex;
  text-align: center;
}

/* Стили для изображений на карточках */
.cards-img-top {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

.btn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #91c9ff;
  outline: none;
  transition: 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  font-family: "EuclidFlex Bold", sans-serif;
  font-size: 18px;
}

.btn:hover {
  transition: 0.5s ease-in-out;
  background: #4f95da;
}

.card {
  background: none;
  color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  width: 300px;
  height: 600px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card-img-top {
  max-width: 100%;
  max-height: 70%;
  height: auto;
}

.card-title {
  font: normal 2.5rem/2.125rem var(--euclidflex-regular);
  color: #fff;
  margin-bottom: 20px;
}
.card-text {
  font: normal 1.3rem/1.5rem var(--euclidflex-medium);
}
