<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Информация о багаже</title>
    <!-- Подключение Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <!-- Навигационная панель (navbar) -->
    <nav class="navbar">
      <!-- Иконка слева -->
      <a class="navbar-brand" href="/">
        <div class="brand-container">
          <img
            src="/images/BagTracker.png"
            width="34"
            height="34"
            class="icon"
            alt="Icon"
          />
          <h1 class="brand-name">BagTracker</h1>
        </div>
      </a>
    </nav>

    <!-- Контейнер с информацией о багаже по середине страницы -->
    <div class="container mt-4 text-center">
      <div class="col-md-6 mx-auto">
        <div class="card mb-4">
          <img
            src="{{.PhotoURL}}"
            class="card-img-top"
            alt="Изображение багажа"
          />
          <div class="card-body d-flex flex-column align-items-center">
            <h5 class="card-title">Код багажа: {{.BaggageCode}}</h5>
            <p class="card-text">ФИО: {{.OwnerName}}</p>
            <p class="card-text">Паспортные данные: {{.PasportDetails}}</p>
            <p class="card-text">Авиакомпания: {{.Airline}}</p>
            <p class="card-text">Вес: {{.Weight}} кг</p>
            <p class="card-text">Статус: {{.BaggageStatus}}</p>
            <p class="card-text">Тип: {{.BaggageType}}</p>
            <p class="card-text">Размер: {{.Size}}</p>
            <a class="btn" type="button" href="/">Весь багаж</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
