<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BagTracker</title>
    <!-- Подключение Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/resources/css/index.css">
</head>
<body>
    <!-- Навигационная панель (navbar) -->
    <nav class="navbar">
        <!-- Иконка слева -->
        <a class="navbar-brand" href="/">
            <img src="/images/BagTracker.png" width="30" height="30" class="icon" alt="Icon">
            BagTracker
        </a>
    </nav>

    <!-- Контейнер с текстом над списком багажа -->
    <div class="about-container">
        <div class="content-container">
        <h1 class="mb-4 page-title">Список багажей</h1>
        <p>Добро пожаловать в BagTracker. BagTracker - ваш надежный спутник в мире авиапутешествий.
            Наш сервис позволяет отслеживать текущее местоположение вашего багажа и предоставляет информацию о его статусе в реальном времени. 
            Вы также можете использовать BagTracker для удобного поиска вашего багажа по пункту назначения. 
            С нашим сервисом ваши вещи всегда под вашим контролем.</p>
        </div>
    </div>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-3"> <!-- Create a column for the "Весь багаж" button -->
                <button class="btn" type="button" onclick="window.location.href = '/'">Весь багаж</button>
            </div>
        <div class="col-md-9"> <!-- Create a column for the search form -->
            <form class="form-control" action="/" method="GET">
                <div class="input-group">
                    <input type="text" class="form-control search-input-long" name="q" placeholder="Поиск багажа" aria-label="Поиск багажа" aria-describedby="search-button">
                    <div class="input-group-append">
                        <button class="btn" type="submit" >Поиск</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Список багажей в виде карточек -->
    <div class="container">
        <!-- Список багажей в виде карточек -->
        <div class="row">
            {{range .baggages}}
                <div class="col-md-4"> 
                    <div class="card mb-4">
                        <a href="/baggage/{{.BaggageID}}" class="card-link"> <!-- Добавляем класс card-link -->
                            <img src="{{.Src}}" class="card-img-top" alt="Изображение багажа">
                            <div class="card-body">
                                <h5 class="card-title">{{.Destination}}</h5>
                            </div>
                        </a>
                    </div>
                </div>
            {{end}}
        </div>
    </div>
</body>
</html>
