<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BagTracker</title>
    <!-- Подключение Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <!-- Навигационная панель (navbar) -->
    <nav class="navbar">
      <!-- Иконка слева -->
      <a class="navbar-brand" href="/">
        <div class="brand-container">
          <img
            src="/images/BagTracker.png"
            width="34"
            height="34"
            class="icon"
            alt="Icon"
          />
          <h1 class="brand-name">BagTracker</h1>
        </div>
      </a>
    </nav>

    <!-- Контейнер с текстом над списком багажа -->
    <div class="about-container">
      <div class="content-container">
        <h1 class="mb-4 page-title">Список багажей</h1>
        <p class="about-information">
          Добро пожаловать в BagTracker. BagTracker - ваш надежный спутник в
          мире авиапутешествий. Наш сервис позволяет отслеживать текущее
          местоположение вашего багажа и предоставляет информацию о его статусе
          в реальном времени. Вы также можете использовать BagTracker для
          удобного поиска вашего багажа по пункту назначения. С нашим сервисом
          ваши вещи всегда под вашим контролем.
        </p>
      </div>
    </div>
    <!-- Контейнер с текстом над списком багажа -->
    <div class="container mt-4">
      <div class="row">
        <div class="col-md-9 d-flex align-items-center">
          <a class="btn btn-primary" type="button" href="/">Весь багаж</a>
          <form action="/" method="GET">
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                name="searchQuery"
                placeholder="Поиск багажа"
                aria-label="Поиск багажа"
                aria-describedby="search-button"
              />
              <div class="input-group-append">
                <button class="btn btn-primary" type="submit">Поиск</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Список багажей в виде карточек -->
    <div class="container">
      <!-- Обертка для строк с карточками -->
      <div class="row">
        {{ range.baggages }}
        <div class="col-md-4">
          <div class="cards mb-4">
            <a href="/baggage/{{.BaggageID}}" class="card-link">
              <!-- Добавляем класс card-link -->
              <img
                src="{{.PhotoURL}}"
                class="cards-img-top"
                alt="Изображение багажа"
              />
              <div class="cards-body">
                <h5 class="cards-title">Код багажа: {{.BaggageCode}}</h5>
              </div>
            </a>
          </div>
        </div>
        {{ end }}
      </div>
      <!-- Конец обертки для строк с карточками -->
    </div>
  </body>
</html>
