<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BagTracker</title>
    <!-- Подключение Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
     <!-- Навигационная панель (navbar) -->
     <nav class="navbar navbar-dark bg-dark">
        <!-- Иконка слева -->
        <a class="navbar-brand" href="#">
            <img src="/images/BagTracker.png" width="30" height="30" class="d-inline-block align-top" alt="Icon">
            BagTracker
        </a>
    </nav>
    <!-- Контейнер с текстом над списком багажа -->
    <div class="full-width-container">
        <div class="content-container">
        <h1 class="mb-4 page-title">Список багажей</h1>
        <p>Добро пожаловать в BagTracker. BagTracker - ваш надежный спутник в мире авиапутешествий.
            Наш сервис позволяет отслеживать текущее местоположение вашего багажа и предоставляет информацию о его статусе в реальном времени. 
            Вы также можете использовать BagTracker для удобного поиска вашего багажа по пункту назначения. 
            С нашим сервисом ваши вещи всегда под вашим контролем.</p>
    </div>
    </div>


    <div class="container mt-4">
        <!-- Поле поиска багажа и кнопка "Весь багаж" -->
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <button class="btn" type="button">Весь багаж</button>
            </div>
            <input type="text" class="form-control search-input-long" placeholder="Поиск багажа" aria-label="Поиск багажа" aria-describedby="search-button">
            <div class="input-group-append">
                <button class="btn" type="button" id="search-button">Поиск</button>
            </div>
        </div>

        <!-- Список багажей в виде карточек -->
        <div class="container">
    <!-- Список багажей в виде карточек -->
    <div class="row">
        {{range .baggages}}
        <div class="col-md-4"> 
            <div class="card mb-4">
                <img src="{{.Src}}" class="card-img-top" alt="Изображение багажа">
                <div class="card-body">
                    <h5 class="card-title">{{.Destination}}</h5>
                </div>
            </div>
        </div>
        {{end}}
    </div>
</div>
    </div>
</body>
</html>
